# Python virtual environment
/.env
/.env_vagrant

# Cache/temp files
__pycache__/
/.vagrant

# Ignore prod setup file
d2qc/d2qc/setup/production.py
/backup
/d2qc/d2qc/data/glodap/data
/d2qc/user_data
/d2qc/d2qc/setup/development.py
.DS_Store
