{% extends "base.html" %}
{% block content %}
<style>
.message {
  color: red;
}
</style>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>
  $.get('import_status', {file_id: {{object.id}}},function(data){
  $('#import_status').html('<h4>' + data + '</h4>');
  });

  var counter = 0;
  const interval = setInterval(function() {
    $.get('import_status', {file_id: {{object.id}}},function(data){
      
      if (data.substring(0,19) == 'Import in progress'){
        data = data + ' .'.repeat(counter);
      }

      $('#import_status').html('<h4>' + data + '</h4>');

      if (data.substring(0, 8) === 'Imported') {
        clearInterval(interval);
      }
      if (data.substring(0,17) === 'File not imported'){
        clearInterval(interval);
      }

      counter++;
    });  
  }, 2000);
    
    
  
</script>


    <div>
        <h3>
            ID: {{ object.id }} -
            {% if object.name %}
            {{ object.name }}
            {% else %}
            {{ object.filepath }}
            {% endif %}
        </h3>
        <div id = 'import_status' class='import'>       
        </div>
        <div class="import">
        <dl>
            <dt>Filepath</dt>
            <dd>{{ object.filepath }}</dd>
            <dt>Owner</dt>
            <dd>(user: {{ owner.username }})</dd>
            <dd>{{ owner.first_name }} {{ owner.last_name }}</dd>
            {% if object.description %}
            <dt>Description</dt>
            <dd>{{ object.description }}</dd>
            {% endif %}
            <dt>Header</dt>
            <dd>{{ object.headers | linebreaks }}</dd>
            <dt>Line count</dt>
            <dd>{{ count }}</dd>

        </dl>
        <a href="{% url 'data_file-update' object.id %}">[Edit]</a>
        {% if not object.import_finnished %}
        <a href="{% url 'data_file-import-exec' object.id %}">[Import file]</a>
        {% endif %}
        <a href="{% url 'data_file-delete' object.id %}">[Delete]</a>
        {% if filehead and not object.import_finnished %}
        <div class="scrollable">
            <h3>First lines of file</h3>
            <p>
                {% for line in filehead %}
                    {{ line }}<br/>
                {% endfor %}
            </p>
        </div>
        {% endif %}
    </div>
{% endblock %}
