<style media="screen">
  #id_depth_metric{
    list-style-type: none;
    display: flex;
  }
  .calculation_options label,
  .calculation_options input {
    width: 40%;
    margin: 5px;
    padding: 5px;
  }
  .calculation_options form {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
  }
</style>
<div class="calculation_options">
  <h4>Calculation preconditions</h4>
  <div class="form">
    <form method="post" action="{{ request.path }}">
      {% csrf_token %}
      {{ profile_form }}
      <input
        type="submit"
        name="replot_with_options"
        value="Replot with options"
      />
    </form>
  </div>
</div>
