<!doctype html>

<html lang="en">
    <head>
    <meta charset="utf-8">
    <title>
        {% block title %}GLODAP Cross-over{% endblock %}
    </title>
    <style>
            #{{ request.resolver_match.url_name }} {
                color: white;
                background-color: black;
            }
    </style>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock%}
    </head>
    <body>
        <header>
            <h1>
                {% block page_header %}
                {{ SITE_HEADER }}
                {% endblock %}
            </h1>
            <h2>
                {% block page_subheader %}
                Deep water cross-over analysis
                {% endblock %}
            </h2>
        </header>
        {% if request.user.is_authenticated %}
        <aside>
            User:  {{ request.user.first_name }}
            <div><a href="{% url 'account-update' request.user.pk %}">[Edit user]</a></div>
        </aside>
        {% endif %}
        <nav>
            <ul>
                <li>
                    <a
                        id="data"
                        href="{% url 'data' %}">Home</a>
                </li>
                {% if request.user.is_authenticated %}
                <li>
                    <a
                        id="data_file-list"
                        href="{% url 'data_file-list' %}"
                    >
                        Files
                    </a>
                </li>
                <li>
                    <a
                        id="data_file-create"
                        href="{% url 'data_file-create' %}"
                    >
                        Add file
                    </a>
                </li>
                <li>
                    <a
                        id="data_set-list"
                        href="{% url 'data_set-list' %}"
                    >
                        Data sets
                    </a>
                    {% block dataset_detail_menu %}
                    {% endblock %}
                </li>
                <li>
                    <a
                        id="profile-update"
                        href="{% url 'profile-update' %}"
                    >
                        Settings
                    </a>
                </li>
                <li>
                    <a
                        id="account-logout"
                        href="{% url 'account-logout' %}"
                    >
                        Logout
                    </a>
                </li>
                {% else %}
                <li>
                    <a
                        id="account-login"
                        href="{% url 'account-login' %}"
                    >
                        Login
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% block options %}
        {% endblock %}
        {% if messages %}
        <div class="messages">
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags|default:'message' }}">
                    {{ message|safe }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% block content %} No content yet
        {% endblock %}
    </body>
</html>
