cftime==1.0.1
Click==7.0
cotede==0.19.2
cycler==0.10.0
-e git+https://github.com/django/django.git@483cc1c430e038d7d16342f76761d18b989c3eed#egg=Django
djangorestframework==3.9.4
filelock==3.0.8
file-read-backwards==2.0.0
gsw==3.2.1
kiwisolver==1.0.1
matplotlib==2.2.3
netCDF4==1.4.1
numpy==1.15.1
oceansdb==0.8.4
pandas==0.23.4
Pillow==5.2.0
psycopg2-binary==2.7.5
pyArgo==0.0.4
pyparsing==2.2.1
pyproj==1.9.5.1
pyshp==1.2.12
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
seabird==0.10.5
six==1.11.0
supportdata==0.1.2
django-mathfilters==0.4.0
