astroid==2.3.2
autopep8==1.4.4
cftime==1.0.1
Click==7.0
cotede==0.19.2
cycler==0.10.0
django-mathfilters==0.4.0
djangorestframework==3.9.4
file-read-backwards==2.0.0
filelock==3.0.8
gsw==3.2.1
isort==4.3.21
kiwisolver==1.0.1
lazy-object-proxy==1.4.3
matplotlib==2.2.3
mccabe==0.6.1
netCDF4==1.4.1
numpy==1.17.1
oceansdb==0.8.4
pandas==0.23.4
Pillow==8.3.2
pkg-resources==0.0.0
psycopg2-binary==2.7.5
pyArgo==0.0.4
pycodestyle==2.5.0
pylint==2.4.3
pyparsing==2.2.1
pyproj==1.9.5.1
pyshp==1.2.12
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
seabird==0.10.5
six==1.12.0
supportdata==0.1.2
typed-ast==1.4.0
wrapt==1.11.2
