{% extends "base.html" %}
{% block content %}
{% if request.user.is_authenticated %}
  <script type="text/javascript">
    window.location.replace("/data");
  </script>
{% else %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <div>
    Forgot your password?
    <a href="{% url 'account-reset' %}">Click here to reset it!</a>
  </div>
  <div>
    Or you can
    <a href="{% url 'account-signup' %}">Sign up for an account!</a>
  </div>
{% endif %}
{% endblock %}
