<div id="map">
</div>
<a href="{% url 'data_set-detail' object.id %}">
        [Show all stations]
</a>
<a id="export-png" href="#">
        [Download as PNG]
</a>
<script type="text/javascript">
// Data
var cruise_positions = '{{ cruise_positions }}';
var cruise_polygon = '{{ cruise_polygon }}';
var station_positions = '{{ station_positions }}';
var crossover_positions = '{{ crossover_positions }}';
var stations_polygon = '{{ stations_polygon }}';
// Colors
var red_map = new ol.style.Style({
  image: new ol.style.Circle({
    fill: new ol.style.Fill({
      color: [255,0,0,.6]
    }),
    radius: 3,
  })
});
var blue_map = new ol.style.Style({
  image: new ol.style.Circle({
    fill: new ol.style.Fill({
      color: [0,0,255,1]
    }),
    radius: 3,
  })
});

var blue_hole_map = new ol.style.Style({
  image: new ol.style.Circle({
    stroke: new ol.style.Stroke({
      color: [0,0,255,.8]
    }),
    radius: 3,
  })
});

var blue_line_map = new ol.style.Style({
  stroke: new ol.style.Stroke({
    color: [0,0,255,1],
  })
});

// Map
var raster = new ol.layer.Tile({
  source: new ol.source.OSM()
});

var features = []
var format = new ol.format.WKT();

var feature = format.readFeature(cruise_positions, {
  dataProjection: 'EPSG:4326',
  featureProjection: 'EPSG:3857'
});
feature.setStyle(blue_hole_map)
// Add all cruise stations as first layer
features.push(feature)


feature = format.readFeature(station_positions, {
  dataProjection: 'EPSG:4326',
  featureProjection: 'EPSG:3857'
});
feature.setStyle(blue_map)
// Stations filtered by parameter
features.push(feature)

var cross_feature = null
if (crossover_positions && crossover_positions != 'None') {
  cross_feature = format.readFeature(crossover_positions, {
    dataProjection: 'EPSG:4326',
    featureProjection: 'EPSG:3857'
  });
  cross_feature.setStyle(red_map);
  features.push(cross_feature)
}
var buffer_feature = null
if (stations_polygon && stations_polygon != 'None')
  buffer_feature = format.readFeature(stations_polygon, {
    dataProjection: 'EPSG:4326',
    featureProjection: 'EPSG:3857'
  });
  buffer_feature.setStyle(blue_line_map);
  features.push(buffer_feature)

var source = new ol.source.Vector({
  features: features
})
var vector = new ol.layer.Vector({
  source: source
});

var map = new ol.Map({
  layers: [raster, vector],
  target: 'map',
});
map.getView().fit(source.getExtent(), map.getSize())
map.getView().setZoom(map.getView().getZoom() - 1)
map.on("moveend", drawTitle);
map.on("rendercomplete", drawTitle);

function drawTitle(canvas) {
  if (!canvas.getContext) {
    canvas = $('#map>div>canvas')[0]
  }
  var ctx = canvas.getContext("2d");
  title = "Cruise {{ object.expocode }}";
  subtitle = "";
  x = 5
  y = 295
  yoffset = 20
  {% if parameter %}
  subtitle = "Stations with {{ parameter.name }}";
  y -= yoffset
  {% else %}
  subtitle = "All stations"
  y -= yoffset
  {% endif %}
  subtitle2 = ""
  {% if crossover_expocode %}
  subtitle2 = "Crossover cruise {{ crossover_expocode }}";
  y -= yoffset
  {% endif %}
  ctx.font = "bold 20px Arial";
  ctx.fillStyle = '#555555'
  ctx.fillText(title, x, y);
  ctx.font = "18px Arial";
  ctx.fillText(subtitle, x, y + yoffset);
  ctx.fillText(subtitle2, x, y + (2 * yoffset));
}
$('#export-png').click(function() {
  map.once('rendercomplete', function(event) {
    event.stopPropagation();
    var canvas = event.context.canvas;
    if (navigator.msSaveBlob) {
      navigator.msSaveBlob(canvas.msToBlob(), 'map.png');
    } else {
      canvas.toBlob(function(blob) {
        saveAs(blob, 'map.png');
      });
    }
  });
  map.renderSync();
});
</script>
